<% if @cards.empty? %>
  <div id="show-stats" class="" style="height: 100%;">
<% else %>
  <div id="show-stats" class="d-none" style="height: 100%;">
<% end %>
    <div class="container-pulse">
      <div class="profile-pic center" style="background-image: url(http://www.imagenesanimadas.net/Ciencias/Radares/Radar-10.gif); position: top; object-fit: cover;"></div>
      <% if @cards.empty? %>
        <p class="center" style="z-index: +1">Sorry, you have no fitting job offers yet... You can try again later</p>
      <% else %>
        <p class="center" style="z-index: +1; padding-top: 1em;"><font style="color: black; font-size: 28px;">Yikes!</font></br></br>Sorry, you ran out of fitting job offers... You can try again later</p>
      <% end %>
      <div class="sonar-container">
        <div class="sonar center"></div>
        <div class="sonar center delay"></div>
      </div>
    </div>

    <p style="margin-top: 20px;"> Or see the stats <i class="fas fa-chart-pie"></i> to compare your expectations with actual market figures</p>
    <div style="text-align-last: center;">
      <%= link_to "See stats", stats_path, class: "btn-main", style: "text-align-last: center;"%>
    </div>
  </div>
