<h1>Profiles#new</h1>
<p>Find me in app/views/profiles/new.html.erb</p>
<%# profile = Profile.find(34) %>
<%= link_to "HERE", profiles_path, method: :post %>
<%#= link_to "UPDATE", profile_new_profile_path(profile, :first) %>
