<div class="container onboarding">

  <div class="onboarding-header">
    <h1>Give us your Elevator Pitch</h1>
  </div>

  <%= simple_form_for @profile, url: wizard_path do |f| %>
    <%= f.input :description, label: 'Pitch yourself in 180 characters', as: :text %>
    <%= f.submit "SAVE", class: "btn btn-main form-button"%>
  <% end %>
</div>
