<div class="container">

  <div class="onboarding-header">
    <h1>Give us your Elevator Pitch</h1>
  </div>

  <%= simple_form_for @profile, url: wizard_path do |f| %>
    <%= f.input :description, label: 'Please pitch the job in 80 characters', as: :text %>
    <%= f.submit "SAVE", class: "btn-main"%>
  <% end %>
</div>
