<div class="main-wrapper">
    <div class="cell">
      <div class="root">
        <%= render 'shared/navbar' %>
          <div class="container">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>

