<div class="banner">
  <div class="container" style="text-align: -webkit-center;">
    <h1>Ditch your desk! <br> Shuffle your deck.</h1>
    <p style="margin: 20px;"><strong>Connect</strong> with the right companies <br>
     in a matter of <strong>minutes</strong></p>

     <div class="btn-main" style="margin: 20px;">START NOW</div>

    <%= link_to "I'am a recruiter", "#" %>
  </div>
</div>
  <div class="container" style="text-align: -webkit-center;">
    <div class="feature">
      <img src="https://res.cloudinary.com/therainycloud/image/upload/v1576077831/Untitled_design_9_bbqmhs.png" alt="Feature multiple decks">
      <div class="feature-description">
        <h2>Multiple Job hunting Decks</h2>
        <p>Shuffle is the first job hunting platform which allows you to search in different industries independently. A good way to find paying job to support your dream one.</p>
      </div>
    </div>
    <div class="feature">
      <img src="https://res.cloudinary.com/therainycloud/image/upload/v1576078496/Untitled_design_10_f2gfqu.png">
      <div class="feature-description">
        <h2>Shuffle job cards</h2>
        <p>Who said Job hunting had to be boring and time wasting? Shuffle job cards and connect with ompanies in minutes!</p>
      </div>
    </div>
    <div class="feature">
      <img src="https://res.cloudinary.com/therainycloud/image/upload/v1576078775/Untitled_design_11_hacj0q.png">
      <div class="feature-description">
        <h2>No CV</h2>
        <p>Adapting your CV to each job position can be very painful. Shuffle is a #NoCV job hunting platform! </p>
      </div>
    </div>
    <div class="btn-main" style="margin: 20px;">START NOW</div>
  </div>
