<div class="banner">
  <div class="container" style="text-align: -webkit-center; padding: 30px;">
    <h1>Ditch your desk! <br> Shuffle your deck.</h1>
    <p style="margin: 20px;"><strong>Connect</strong> with the right companies <br>
     in a matter of <strong>minutes</strong></p>

     <div class="btn-main" style="margin: 20px;">START NOW</div>

    <%= link_to "I'am a recruiter", "#" %>

  </div>
</div>
