<ul>
<% @matches.each do |match| %>
  <li>
    <%= Company.find(match.posting.company.id).name %> ----- <%= match.status %> ----- <%= link_to "Show", match_path(match) %>
  </li>
<% end %>
</ul>
<% binding.pry %>
<h3><%= Match.where(profile_id: current_user.profiles.id) %></h3>
