<h2 style="margin: none;"><%= @match.posting.company.name %></h2>
<p style="margin: none;"><%= @match.posting.locations[0] %></p>

<p style="margin-top: 300px;">Make a good first impression! This could be your future employer :D</p>
