.banner {
  background-image: url(https://images.pexels.com/photos/1684151/pexels-photo-1684151.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  height: 85vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  padding: 20px;
}

.banner-buttons {
  text-align: center;
  margin-top: 80px;
}
