.banner {
  background-image: url(https://images.pexels.com/photos/1684151/pexels-photo-1684151.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  height: 85vh;
  width: 100vw;
  background-position: top;
  background-size: 502px;
  padding: 20px;
  padding-top: 50px;
  top: -23px;
  z-index: 0;
  position: relative;
}

.banner-buttons {
  text-align: center;
  margin-top: 58px;
}


