.banner {
  background-image: url(https://res.cloudinary.com/therainycloud/image/upload/v1576071262/beige-and-black-chair-in-front-of-white-desk-509922_pgdwdw.jpg);
  height: 85vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  padding: 20px;
}

.banner-buttons {
  text-align: center;
  margin-top: 80px;
}
