.card-category {
  background-size: cover;
  background-position: center;
  height: 290px;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  // padding: 20px 20px 20px 55px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category > p {
    color: white;
    padding: 7px 5px;
    max-width: 112px;
    font-size: 14px;
    font-weight: bolder;
    position: absolute;
    left: 12px;
    bottom: 28px;
    transform: rotate(-3deg);
    line-height: 19px;
}

.card-edit {
  margin-left: 25px;
  position: absolute;
  bottom: +7px;
  left: 14px;
}


