.card-product {
  overflow: hidden;
  height: 120px;
  // background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  // border-radius: 15px;
  border-bottom: 1px solid;
  border-bottom-color: #ececec;
}

.card-product img {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  object-fit: cover;
}

.card-product h2 {
  color: black;
  font-size: 16px;
  margin: 0;
  text-align: left;
}

.card-product p {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 8px;
  color: gray;
}

.card-product .card-product-infos {
  padding: 16px;
}

.inbox a {
  text-decoration: none;
}

