.feature {
  align-item: center;
  justify-content: center;
  text-align: center;
}

.feature-description {
  align-item: center;
  justify-content: center;
}

.feature img {
  object-fit: cover;
  height: 65vh;
  max-width: 100%;
}
