// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "buttons";
@import "banner";
@import "features";
@import "swipe_card";
@import "cards";
@import "card-product";
@import "cards-grid";
@import "onboarding";

.quick-fix-class {
  height: 80px;
  width: auto;
  align-items: flex-center;
}
