// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "buttons";
@import "banner";
@import "features";
@import "swipe_card";
@import "cards";
@import "card-product";
@import "cards-grid";
@import "onboarding";
@import "slider";
@import "message";
@import "messages-header";
@import "pulse";
@import "popup";
@import "button_animation";
@import "responsive";

.quick-fix-class {
  height: 80px;
  width: auto;
  align-items: flex-center;
}
