.messages-header {
  overflow: hidden;
  height: 120px;
  // background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  position: fixed;
  top: 54px;
  width: 100%;
  z-index: 1;

  p {
    font-size: 14px;
  }
}

.messages-header img {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  object-fit: cover;
  margin-left: 40px;
}

.messages-header h2 {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.messages-header p {
  // font-size: 18px;
  margin-bottom: 0;
  margin-top: 8px;
  color: gray;
  text-align: left;
}

.messages-header .messages-header-infos {
  margin-left: 20px;
  padding: 16px;
}

.inbox a {
  text-decoration: none;
}

#messages-header .messages-header {
  box-shadow: 0;
}

#messages-header img {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  object-fit: cover;
}
