.full-chat {
  position: relative;
  height: 100vh;
}

.messages {
  font-size: 14px;
  color: #868686;
  background-color: #ffffff;
  padding: 20px;
  border-top: none;
  border-bottom-width: 0;
  max-height: calc(96vh - 70px - 45px - 61px - 30px);
  overflow: scroll;
  position: fixed;
  width: 93%;
  top: 165px;
  z-index: 0;
  border-top-style: solid;
  border-width: 1px;
  border-color: #cccaca;
  border-bottom-style: solid;
}

.message {
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #4fe68c;
      color: white;
    }
  }
}
.message-content {
  background-color: #BF9FFF;
  border-radius: 20px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
  color: white;
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#create-message {
  padding: 15px;
  background-color: #ffffff;
  position: fixed;
  bottom: 0px;
  width: 93%;
  z-index: 1;
  .form-control {
    border: 1px solid #6F35E2;
  }
}

.message_content {
  margin-bottom: 0;

  .form-control {
    border: 1px solid #cccaca;
    box-shadow: none;
    font-size: 14px;
    color: #868686;
    position: absolute;
    bottom: 21px;
    left: 0px;
    &:focus {
      outline: none;
      border: 1px solid blue;
      box-shadow: none;
    }
  }
}
.chat-header {
  background-color: #4F2F4C;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  h4 {
    margin: 0;
  }
}
