.navbar-shuffle {
  justify-content: space-between;
  background: white;
  padding: 8px 5px;
}

.navbar-shuffle .navbar-collapse {
  flex-grow: 0;
}

.navbar-shuffle .navbar-brand img {
  width: 130px;
  height: 30px;
  object-fit: cover;
}

