.navbar-shuffle {
  justify-content: space-between;
  background: white;
  padding: 8px 5px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbar-shuffle .navbar-collapse {
  flex-grow: 0;
}

.navbar-shuffle .navbar-brand img {
  width: 100px;
  height: 30px;
  object-fit: cover;
}

.nav {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: white;
  text-align: center;
  justify-content: space-between;
  font-size: 32px;
  list-style: none;
  padding: 0px 20px 2px 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.nav-inbox {
  position: relative;
}

.nav-notif {
  background-color: red;
  color: white;
  position: absolute;
  top: 11px;
  right: 13px;
  height: 15px;
  width: 15px;
  overflow: hidden;
  text-align: center;
  border-radius: 100%;
  font-size: 9px;
  font-weight: bold;
  line-height: 15px;
}

.nav .btn-main-ghost {
  padding: 5px auto;
  width: fit-content;
}

.navbar-nav {
  flex-direction: row;
}

#logo {
  background-image: url(https://res.cloudinary.com/therainycloud/image/upload/v1576084648/Screenshot_2019-12-11_at_18.17.05_ueqvra.png);
  height: 32px;
  object-fit: cover;
}


