.navbar-shuffle {
  justify-content: space-between;
  background: white;
  padding: 8px 5px;
}

.navbar-shuffle .navbar-collapse {
  flex-grow: 0;
}

.navbar-shuffle .navbar-brand img {
  width: 130px;
  height: 30px;
  object-fit: cover;
}

.nav-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 32px;
  list-style: none;
  // padding: 5px 0px 0px 25px;
}
