.onboarding {
  text-align: center;
}

.onboarding .render-links a {
  color: #6F35E2;
  font-weight:lighter
}

.onboarding-header h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-control {
  border-radius: 50px;
}

.two {
  margin-bottom: 0;
}

#page-two {
  margin-top: 20px;
  margin-bottom: 10px;
}

.form-button {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

#profile_description {
  height: 180px;
  padding: 12px;
  text-align: justify;
  margin-top: 10px;
  border-radius: 25px;
}

.progress {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  height: 18px;
  margin-top: 50px;
  margin-left: 14px;
  margin-right: 14px;
}

.progress-circle-1 {
  background-color: #6F35E2;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.progress-circle-0 {
  background-color: #6F35E2;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  opacity: 0.3;
}

.category-choices {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  flex-wrap: wrap;
  .form-check {
  padding-left: 0;
  }
}

.category-choice {
  background: white;
  padding: 10px 14px;
  height: 37px;
  line-height: 16px;
  border-radius: 35px;
  opacity: 0.4;
  text-align: center;
  color: #6F35E2;
  border-style: solid;
  border-width: 1px;
  border-color: #6F35E2;
  margin-bottom: 6px;
  &.active {
    background: #6F35E2;
    color: white;
    opacity: 1;
  }
}
