.rangeslider{
  width: 50%;
}

.myslider {
  -webkit-appearance: none;
  background: yellow  ;
  width: 50%;
  height: 20px;
  opacity: 2;
}

.myslider:hover {
  opacity: 1;
}

.myslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  background: #34495E  ;
  width: 5%;
  height: 20px;
}
